:root .swx .conversationHistory .messageHistory
    max-width 100% !important

:root .swx .timeline .Avatar
    width  20px !important
    height 20px !important

:root .swx .timeline .Avatar:before
    font-size 20px !important

:root .swx .timeline .Avatar--presence:after
    font-size 9px !important
    width 9px !important
    height 9px !important
    border 1px !important

:root .swx .side .searchItem
    height 1em !important

:root .swx .side .recent
    height 1em !important

:root .swx .tile .tileMessage
    display none !important