:root .swx .hljs {
    border:        1px solid #777777 !important;
    padding:        4px;
    padding-left:   8px;
    font-family:    monospace;
}

#highlight-sample-code{
    font-size: 60%;
    width: 30em;
}
