:root .swx .hljs {
    border:        1px solid #777777 !important;
    padding:        4px;
    padding-left:   8px;
    font-family:    monospace;
}

.highlight-sample-code{
    font-size: 65% !important;
    width: 30em !important;
    margin-bottom: 1em !important;
}

.highlight-sample-code-title {
    margin-left: -61px !important;
    font-size: 1.1em !important;
    line-height: 3em !important;
}

.inline_code {
    display: inline !important;
}