.modal-content {
    z-index: 1000; /* Sit on top */
    position: absolute;
    margin: auto !important;
    display: block;
    top: 50%;
    left: 50%;
    transform: 	translateY(-50%) translateX(-50%);
    border: 1em solid rgba(0,0,0,.5) !important;
    max-width: 95%;
    max-height: 95%;
}

.modal-content {
    animation-name: zoom;
    animation-duration: .5s;
}

@keyframes zoom {
    from {
        transform:scale(0) translateY(-100%) translateX(-100%)
    }
    to {
        transform:scale(1) translateY(-50%) translateX(-50%)
    }
}

/* The Close Button */
.close {
    position: relative;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px !important;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.swx-join-spinner {
    width:   3em   !important;
    height:  3em   !important;;
    display: block !important;
    z-index: 1000;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: 	translateY(-50%) translateX(-50%);
    overflow: initial !important;
}

.swx-join-spinner span {
    display: block      !important;
    font-size: 1em      !important;
    text-align: center  !important;
    margin-top: 3em     !important;
    margin-left: -1em   !important;
    transform: 	translateX(-20%);
    left: 50%;
    position: relative;
    width: 100%;
    font-weight: bold !important;
    text-shadow: 0 0 1em #00aff0, 0 0 0.2em #0078ca, 0 0 0.2em #c7edfc;
}

.warning {
    background-color: black;
    position: absolute;
    z-index: 1000;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 1em !important;
    padding-top: 0.3em !important;
    border: 1px solid white !important;;
    cursor: pointer;
}

.warning:hover {
    background-color: rgb(45,45,45);
}