[Desktop Entry]
Version=1.0
Type=Application
Name=Octane Skype
Comment=An unofficial client of Skype for Linux, with search, code highlight, and much more
Icon=/opt/octane/resources/app/assets/tray/skype-big.png
Exec=npm --prefix /opt/octane start
NoDisplay=false
Categories=Network;
StartupNotify=false
Terminal=false
