<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Octane Skype</title>
		<style>
			html, body, webview {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>
	<body>
		<webview id="skype-view" src="https://web.skype.com/" preload="./skype-preload.js" partition="persist:octane-skype"
				 useragent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36"
		/>
	</body>	
	<script>require('./webview.js')</script>
</html>
