.UserSettingsPage-Tab-List {
    padding-left: 1em !important;
}

.PreferencesTab {
    padding: .5em !important;
    display: inline-block !important;
    text-transform: capitalize !important;
    min-height: 1em !important;
}

.PreferencesTab.active {
    border-bottom: 0px;
}

.settings-input input {
    width: 20em !important;
    border: none !important;;
    border-bottom: 1px solid !important;;
    padding-bottom: .5em !important;;
}